* {
  box-sizing: border-box;
  border: 2px solid green;
}

img {
  /*min-width: 20px;*/
  /*max-width: 100%;*/
  border: 3px solid blue;

  /*height: auto;*/
  /*display: block !important;*/
}

body {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 20%;
  min-width: 50px;
}
.huge-img-container {
  /*max-width: 50%;*/
  display: flex;
  justify-content: center;
}

.featured-work {
  /*max-width: 500px;*/
  /*min-width: 20px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*flex-flow: */
}

.flex-item {
  border: 5px solid orange;
  /*flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20px;*/
  /*flex: 1 1 20px;*/
  /*min-width: 10px;*/
}

/*.project-img {
  min-width: 100%;
}*/
